.container {
	text-align: center;
	width:80%;
	margin:30px auto;
}

.die {
	display:inline-block;
	text-align:center;
}

body{
	background-color:#393E46
}

h1 {
	font-family: 'Major Mono Display', monospace;
	font-size: 4rem;
	text-shadow: 5px 0 black;
	color:#4ECCA3;
}

p{
	font-family: 'Montserrat', sans-serif;
	text-shadow: 2px 0 black;
	color:#4ECCA3;
}

img {
	width:80%;
}

footer {
	margin-top: 10%;
	text-align: center;
	color: white;
}